In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [4]:
laps=pd.read_csv("dataset/laps.csv")
laps_needed=['LapNumber','LapTime','Sector1Time', 'Sector2Time', 'Sector3Time' ,'Stint','Compound' , 'PitInTime', 'PitOutTime', 'TrackStatus','TyreLife','FreshTyre','Position' ]    
laps=laps[laps_needed]
laps

,LapNumber,LapTime,Sector1Time,Sector2Time,Sector3Time,Stint,Compound,PitInTime,PitOutTime,TrackStatus,TyreLife,FreshTyre,Position
0,1.0,0 days 00:01:39.019000,NaN,0 days 00:00:42.414000,0 days 00:00:23.842000,1.0,SOFT,NaN,NaN,12,4.0,False,1.0
1,2.0,0 days 00:01:37.974000,0 days 00:00:31.342000,0 days 00:00:42.504000,0 days 00:00:24.128000,1.0,SOFT,NaN,NaN,12,5.0,False,1.0
2,3.0,0 days 00:01:38.006000,0 days 00:00:31.388000,0 days 00:00:42.469000,0 days 00:00:24.149000,1.0,SOFT,NaN,NaN,1,6.0,False,1.0
3,4.0,0 days 00:01:37.976000,0 days 00:00:31.271000,0 days 00:00:42.642000,0 days 00:00:24.063000,1.0,SOFT,NaN,NaN,1,7.0,False,1.0
4,5.0,0 days 00:01:38.035000,0 days 00:00:31.244000,0 days 00:00:42.724000,0 days 00:00:24.067000,1.0,SOFT,NaN,NaN,1,8.0,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,9.0,0 days 00:01:41.534000,0 days 00:00:31.989000,0 days 00:00:44.548000,0 days 00:00:24.997000,1.0,SOFT,NaN,NaN,1,9.0,True,16.0
1052,10.0,0 days 00:01:41.584000,0 days 00:00:31.779000,0 days 00:00:44.617000,0 days 00:00:25.188000,1.0,SOFT,NaN,NaN,1,10.0,True,16.0
1053,11.0,0 days 00:01:41.352000,0 days 00:00:31.894000,0 days 00:00:44.557000,0 days 00:00:24.901000,1.0,SOFT,NaN,NaN,1,11.0,True,13.0
1054,12.0,0 days 00:01:41.156000,0 days 00:00:32.100000,0 days 00:00:44.235000,0 days 00:00:24.821000,1.0,SOFT,NaN,NaN,1,12.0,True,11.0
1055,13.0,0 days 00:02:02.071000,0 days 00:00:34.839000,0 days 00:00:53.536000,0 days 00:00:33.696000,1.0,SOFT,0 days 01:24:56.987000,NaN,1,13.0,True,16.0

In [5]:
events=pd.read_csv('dataset/event_info.csv')
events_needed=[]
events

                                             1
0                                            1
1                                      Bahrain
2                                       Sakhir
3   FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023
4                          2023-03-05 00:00:00
5                           Bahrain Grand Prix
6                                 conventional
7                                   Practice 1
8                    2023-03-03 14:30:00+03:00
9                          2023-03-03 11:30:00
10                                  Practice 2
11                   2023-03-03 18:00:00+03:00
12                         2023-03-03 15:00:00
13                                  Practice 3
14                   2023-03-04 14:30:00+03:00
15                         2023-03-04 11:30:00
16                                  Qualifying
17                   2023-03-04 18:00:00+03:00
18                         2023-03-04 15:00:00
19                                        Race
20                   2023-03-05 18:00:00+03:00
21                         2023-03-05 15:00:00
22                                        True

In [6]:
telemetry=pd.read_csv('dataset/telemetry.csv')
telemetry_needed=['RPM','Speed','nGear','Throttle','Brake','DRS','Time']
telemetry=telemetry[telemetry_needed]
telemetry

           RPM  Speed  nGear  Throttle  Brake  DRS                    Time
0      10130.0    0.0      1      16.0  False    1  0 days 00:00:00.110000
1       9766.0    0.0      1      16.0  False    1  0 days 00:00:00.310000
2       8086.0    2.0      1      16.0  False    1  0 days 00:00:00.590000
3       5566.0   16.0      1      16.0  False    1  0 days 00:00:00.950000
4       4473.0   24.0      1      16.0  False    1  0 days 00:00:01.190000
...        ...    ...    ...       ...    ...  ...                     ...
20969  10715.0  269.0      7     100.0  False    0  0 days 01:33:55.447000
20970  10800.0  273.0      7     100.0  False    0  0 days 01:33:55.807000
20971  10566.0  271.0      7       0.0  False    0  0 days 01:33:56.167000
20972  10525.0  271.0      7       0.0   True    0  0 days 01:33:56.327000
20973   9971.0  257.0      7       0.0   True    0  0 days 01:33:56.647000

[20974 rows x 7 columns]

In [7]:
weather=pd.read_csv('dataset/weather.csv')
weather_needed=['TrackTemp','Humidity','AirTemp','Rainfall','WindSpeed']
weather=weather[weather_needed]
weather

     TrackTemp  Humidity  AirTemp  Rainfall  WindSpeed
0         35.1      19.0     29.8     False        1.2
1         35.0      19.0     29.7     False        1.2
2         34.9      19.0     29.7     False        1.1
3         34.9      19.0     29.6     False        0.8
4         34.8      19.0     29.6     False        0.8
..         ...       ...      ...       ...        ...
156       28.7      21.0     26.3     False        0.6
157       28.7      21.0     26.3     False        0.0
158       28.7      21.0     26.3     False        0.4
159       28.7      21.0     26.3     False        0.5
160       28.7      21.0     26.2     False        0.3

[161 rows x 5 columns]

In [8]:
results=pd.read_csv('dataset/results.csv')
results_needed=['Position','GridPosition','Status','Points','Laps']
results=results[results_needed]
results

    Position  GridPosition    Status  Points  Laps
0        1.0           1.0  Finished    25.0  57.0
1        2.0           2.0  Finished    18.0  57.0
2        3.0           5.0  Finished    15.0  57.0
3        4.0           4.0  Finished    12.0  57.0
4        5.0           7.0  Finished    10.0  57.0
5        6.0           8.0  Finished     8.0  57.0
6        7.0           6.0  Finished     6.0  57.0
7        8.0          12.0  Finished     4.0  57.0
8        9.0          20.0  Finished     2.0  57.0
9       10.0          15.0  Finished     1.0  57.0
10      11.0          14.0  Finished     0.0  57.0
11      12.0          16.0    Lapped     0.0  56.0
12      13.0          17.0    Lapped     0.0  56.0
13      14.0          19.0    Lapped     0.0  56.0
14      15.0          10.0    Lapped     0.0  56.0
15      16.0          13.0    Lapped     0.0  56.0
16      17.0          11.0    Lapped     0.0  55.0
17      18.0           9.0   Retired     0.0  41.0
18      19.0           3.0   Retired     0.0  39.0
19      20.0          18.0   Retired     0.0  13.0

In [9]:
laps.isna().sum()

LapNumber         0
LapTime           1
Sector1Time      21
Sector2Time       1
Sector3Time       1
Stint             0
Compound          0
PitInTime      1004
PitOutTime     1006
TrackStatus       0
TyreLife          0
FreshTyre         0
Position          1
dtype: int64